@import "tools/index.scss";
.modal{
  padding: unset;
}
.modalSpanBill{
    color: white;
    font-size: 7rem;
    z-index: 1;
    position: absolute;
    right:-40rem;
    top: 1rem;
  }

#billAll {
  margin: $margin-btw-block 0;

  #billContent {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: #fff;

    .rowBill {
      display: flex;

      &:first-child {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: unset;

        &::after {
          content: " ";
          height: 2px;
          width: 80%;
          background-color: $main-color;
          margin: 4.9rem 0;
        }
      }
      &:nth-child(0n+2){
        margin-top: unset;
      }

      margin-bottom: 4.3rem;

      .infoBill {
        display: flex;
        justify-content: center;
        align-items: center;
        width: (100% / 6);

        img {
          height: 4rem;
        }
      }

    }
    .rowBillSmartphone{
      display: flex;
      flex-direction: column;
      .infoBill {
        display: flex;
        padding: 2rem;
        border-bottom: .04rem #DAD8D8 solid;
        background-color: #F8F2F2;
        &:first-child {
          text-align: center;
          border-bottom: .4rem #B7B6B6 solid;
          background-color: #fff;
        }
        .infoBillSmartphone{
          text-align: center;
          &:nth-child(0n+1){
            width: 30%;
          }
          &:nth-child(0n+2){
            width: 70%;
          }
          img {
            height: 4rem;
          }
        }

      }


    }
  }
}

@media all and (max-width: 870px){
  #billAll{
    margin: unset;
    padding: 2rem;
    #billContent {
      width: 100%;
      padding: unset;
    }
  }

}