@import "tools/index.scss";

.eventBox {
  display: flex;
  border-radius: $border-radius;
  background: $main-color;
  margin: 0 1rem 3rem 0;

  &:after {
    height: 2px;
    width: 80%;
    background-color: #fff;
    margin: 1rem 0;
    position: absolute;
    bottom: 0;
  }

  .eventPicture, .eventContent {
    width: 50%;
  }

  .eventPicture {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    background-position: center;
    background-size: cover;
  }

  .eventContent {
    padding: $padding-box;
    display: flex;
    flex-direction: column;

    h3 {
      background-color: $main-color;
      padding: 0 1rem;
      text-align: center;
      display: inline-block;
      position: relative;
      z-index: 1;
    }

    div {
      display: flex;
      justify-content: center;
      position: relative;

      &::after {
        content: " ";
        background-color: #fff;
        position: absolute;
        top: 50%;
        right: 0;
        height: .5rem;
        width: 100%;
      }
    }

    p {
      text-align: center;
      margin: unset;
    }

    a {
      align-self: flex-end;
      color: white;
      font-size: 1.5rem;
    }

  }
}

@media all and (max-width: 750px) {

  .eventContent {
    div {
      &::after {
        display: none;
      }
    }

  }

  #cuppaDatePickerContainer, #cuppaDatePicker{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
  }


}
#eventsContain {
  display: flex;

  #allEventBox {
    position: relative;
    width:100%;
  }
}

