.btn {
  display: inline-block;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  border: unset;
  cursor: pointer;
  transition: all 200ms ease;
  outline: unset;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bcgGreen {
  background: linear-gradient(to top, #086e33 0%, #0b9444 70%);
  color: #ffffff;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.titleMain {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 8rem 8rem;
}

*, *::before, *::after {
  box-sizing: inherit;
  /* met un box sizing : inherit pour que tous les element de la page profite du box sizing du body*/
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #111111;
  font-size: 2.8rem;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  font-size: 4rem;
}

h2 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  font-size: 3.5rem;
}

p {
  line-height: 4rem;
  text-align: justify;
  font-size: 2.2rem;
}

main {
  padding: 3rem;
  background: #EEEEEE;
}

a:link {
  text-decoration: unset;
  color: unset;
  text-transform: uppercase;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to top, #086e33 0%, #0b9444 70%);
  z-index: 2;
}
header img {
  width: 17rem;
  position: absolute;
  left: 2rem;
  top: 0.5rem;
  z-index: 2;
  filter: drop-shadow(0 -5px 5px rgba(255, 255, 255, 0.2));
}
header nav {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2.4rem;
  padding: 2.5rem 0;
  color: #ffffff;
}

footer {
  background: #DAD6D6;
  display: flex !important;
}
footer .contentInfoFooter {
  width: 50vw;
  padding: 2vw 0 2vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
}
footer .contentInfoFooter .logoFooter {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}
footer .contentInfoFooter .logoFooter img {
  height: 3vw;
}
footer .contentInfoFooter > img {
  height: 10vw;
}
footer .mapContainer {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
footer .mapContainer .googleMap {
  height: 100%;
  width: 40vw;
}
footer #itineraire {
  position: absolute;
  left: 10vw;
  z-index: 2;
}
footer .separatorFooter {
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 10vw;
  background: #0b9444;
  clip-path: polygon(44% 0%, 92% 0%, 44% 100%, 0% 100%);
}
footer #map {
  left: 4.4vw;
}

header[data-size=smartphone] {
  display: none;
}

@media all and (max-width: 1400px) {
  html {
    font-size: 8px;
  }
}
@media all and (max-width: 1200px) {
  html {
    font-size: 7px;
  }
}
@media all and (max-width: 900px) and (min-width: 750px) {
  html {
    font-size: 6.5px;
  }

  header {
    justify-content: flex-end;
  }
  header nav {
    width: 80%;
    transform: translateX(-4.5vw);
  }
  header img {
    width: 13rem;
  }
}
@media all and (max-width: 750px) {
  main {
    padding: 3%;
  }

  header[data-size=desktop] {
    display: none;
  }

  header[data-size=smartphone] {
    display: flex;
  }
  header[data-size=smartphone] nav {
    width: 100%;
    padding: 2.5rem 2.5rem;
    font-size: 3rem;
    justify-content: space-between;
  }
}
.navSmartphone {
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: #0b9444;
  height: 100vh;
  width: 80vw;
  position: fixed;
  top: 0;
  transform: translateX(-100vw);
  z-index: 3;
  transition: transform 5s;
}
.navSmartphone nav {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navSmartphone nav a {
  text-align: center;
}

.navSmartphoneActive {
  display: flex;
  animation: slidein 0.4s forwards;
}

.navSmartphoneClose {
  animation: slideout 0.4s forwards;
}

@keyframes slidein {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@keyframes slideout {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
    display: none;
  }
}
.modal {
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 0.1rem solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.8rem;
}
.modal-content input {
  border: unset;
}
.modal-content input:after {
  background: #0b9444;
  height: 0.2rem;
  width: 50%;
  position: absolute;
  top: 0;
}

.modal-header {
  padding: 2px 16px;
  text-align: center;
}
.modal-header h2 {
  text-decoration: unset;
  color: unset;
  text-transform: uppercase;
}

.modal-body {
  padding: 0.2rem 1.6rem;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  padding: 0.2rem 1.6rem;
  color: white;
  text-align: right;
}

/* The Close Button */
.close {
  float: right;
  font-size: 4rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animateBottom {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
.fadeOutBackground {
  animation: fadeOutBackground 0.4s ease-in forwards;
}

@keyframes fadeOutBackground {
  from {
    background: rgba(0, 0, 0, 0.4);
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}
.eventBox {
  display: flex;
  border-radius: 0.8rem;
  background: linear-gradient(to top, #086e33 0%, #0b9444 70%);
}
.eventBox .eventPicture, .eventBox .eventContent {
  width: 50%;
}
.eventBox .eventPicture {
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  background-position: center;
  background-size: cover;
}
.eventBox .eventContent {
  padding: 0.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eventBox .eventContent h6 {
  text-align: center;
  display: inline-block;
  position: relative;
}
.eventBox .eventContent h6::after, .eventBox .eventContent h6::before {
  content: " ";
  background-color: #fff;
  position: absolute;
  top: 50%;
  height: 0.5rem;
  width: 5%;
}
.eventBox .eventContent h6::after {
  left: 0;
}
.eventBox .eventContent h6::before {
  right: 0;
}

/*# sourceMappingURL=events.css.map */
