@import "tools/index.scss";
.collapsible {
  background-color: #ffffff;
  cursor: pointer;
  padding: 2.8rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3rem;
  &:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
}
.active, .collapsible:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.active:after {
  content: "\2212";
}

.content {
  padding: 0 2.8rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  margin-bottom: 2rem;
}