@import "tools/index.scss";
@import "carroussel/carroussel.scss";

.indexMainPicture {
  @include disable-margin-property;
  height: 80vh;
  display: block;
  background: url("../pictures/mairie_tree.jpg") 30%;
  background-size: cover;
}
.indexPresentationVE {
  width: 60%;
  padding: 5rem;
  margin: -20rem auto $margin-btw-block auto;
  background: $main-color-white;

  h1 {
    @include disable-margin-property;
    margin-bottom: 4rem;
  }
}

.indexLastArticles {
  margin: 0 auto $margin-btw-block auto;
  width: 74%; ///  a modifier


  h3 {
    @include style-link-text(unset);
    font-family: $font-title;
    font-size: 1.2em;
    margin-left: -1rem;
  }

}