*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  /* met un box sizing : inherit pour que tous les element de la page profite du box sizing du body*/
}

html {
  font-size: 62.5%;
  /* en pourcentage pour qu'on puisse zommer */
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #111111;
  font-size: 2.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: red;
}

h1 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  font-size: 4rem;
}

p {
  line-height: 4rem;
  text-align: justify;
  font-size: 2.2rem;
}

a:link {
  text-decoration: unset;
  color: unset;
  text-transform: uppercase;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#086e33), color-stop(70%, #0b9444));
  background: linear-gradient(to top, #086e33 0%, #0b9444 70%);
  z-index: 2;
}

header img {
  width: 17rem;
  position: absolute;
  left: 2rem;
  top: .5rem;
  z-index: 2;
  -webkit-filter: drop-shadow(0 -5px 5px rgba(255, 255, 255, 0.2));
          filter: drop-shadow(0 -5px 5px rgba(255, 255, 255, 0.2));
}

header nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2.4rem;
  padding: 2.5rem 0;
  color: #ffffff;
}

.indexMainPicture {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  height: 80vh;
  display: block;
  background: url("../pictures/mairie_tree.jpg") 30%;
  background-size: cover;
}

main {
  padding: 3rem;
  background: #EEEEEE;
}

.indexPresentationVE {
  width: 60%;
  padding: 5rem;
  margin: -20rem auto 20rem auto;
  background: #ffffff;
}

.indexPresentationVE h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-bottom: 4rem;
}

.indexLastArticles {
  margin: 0 auto 20rem auto;
  width: 74%;
}

.indexLastArticles h3 {
  text-decoration: unset;
  color: unset;
  text-transform: uppercase;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.2em;
  margin-left: -1rem;
}

.btn {
  display: inline-block;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  border: unset;
  cursor: pointer;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  outline: unset;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bcgGreen {
  background: -webkit-gradient(linear, left bottom, left top, from(#086e33), color-stop(70%, #0b9444));
  background: linear-gradient(to top, #086e33 0%, #0b9444 70%);
  color: #ffffff;
}

.flexEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

footer {
  background: #DAD6D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contentInfoFooter {
  width: 50vw;
  padding: 2vw 0 2vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.9rem;
}

footer .contentInfoFooter .logoFooter {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contentInfoFooter .logoFooter img {
  height: 3vw;
}

footer .contentInfoFooter > img {
  height: 10vw;
}

footer .mapContainer {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

footer .mapContainer .googleMap {
  height: 100%;
  width: 40vw;
}

footer #itineraire {
  position: absolute;
  left: 10vw;
  z-index: 2;
}

footer .separatorFooter {
  position: absolute;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 10vw;
  background: #0b9444;
  -webkit-clip-path: polygon(44% 0%, 92% 0%, 44% 100%, 0% 100%);
          clip-path: polygon(44% 0%, 92% 0%, 44% 100%, 0% 100%);
}

footer #map {
  left: 4.4vw;
}

.sliderImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titlePictureCarr, .descriptionPictureCarr {
  background: rgba(0, 0, 0, 0.45);
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 2.2rem;
  padding: .5rem 0;
}

#slider {
  height: 35vw;
  position: relative;
  -webkit-perspective: 100rem;
          perspective: 100rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#slider .sliderImage {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: .4rem;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

#slide1 {
  background: url("https://picsum.photos/800") no-repeat;
  background-size: cover;
}

#slide2 {
  background: url("https://picsum.photos/812") no-repeat;
  background-size: cover;
}

#slide3 {
  background: url("https://picsum.photos/803") no-repeat;
  background-size: cover;
}

#slide4 {
  background: url("https://picsum.photos/804") no-repeat;
  background-size: cover;
}

#slide5 {
  background: url("https://picsum.photos/801") no-repeat;
  background-size: cover;
}

.sliderCheckBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5rem;
}

.checkBox {
  background: url("../pictures/caroussel/check-box.svg");
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  cursor: pointer;
}

.sliderImage[data-imagePosition="-2"], .sliderImage[data-imagePosition="2"] {
  -webkit-box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.37);
}

.sliderImage[data-imagePosition="0"] {
  -webkit-box-shadow: 0 1.3rem 2.5rem 0 rgba(0, 0, 0, 0.3), 0 1.1rem 0.7rem 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1.3rem 2.5rem 0 rgba(0, 0, 0, 0.3), 0 1.1rem 0.7rem 0 rgba(0, 0, 0, 0.19);
}

.sliderImage[data-imagePosition="-1"], .sliderImage[data-imagePosition="1"] {
  -webkit-box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.3), 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.6rem 1rem 0 rgba(0, 0, 0, 0.3), 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 1400px) {
  html {
    font-size: 9px;
  }
}
/*# sourceMappingURL=main.css.map */