@import "tools/index.scss";

*, *::before, *::after {
  box-sizing: inherit; /* met un box sizing : inherit pour que tous les element de la page profite du box sizing du body*/
}

html {
  font-size: 62.5%;    /* en pourcentage pour qu'on puisse zommer */
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #111111;
  font-size: 2.8rem;
  box-sizing: border-box;
}

h1 {
  font-family: $font-title;
  text-align: center;
  font-size: 4rem;
}

p {
  line-height: 4rem;
  text-align: justify;
  font-size: 2.2rem;
}

a:link {
  @include style-link-text(unset);
}

header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background: $main-color-gradient;
  z-index: 2;

  img {
    width: 17rem;
    position: absolute;
    left: 2rem;
    top: .5rem;
    z-index: 2;
    filter: drop-shadow(0 -5px 5px rgba(255, 255, 255, 0.2));
    // border: white 1px solid;
  }

  nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.4rem;
    padding: 2.5rem 0;
    color: $main-color-white;
  }

}

.indexMainPicture {
  @include disable-margin-property;
  height: 80vh;
  display: block;
  background: url("../pictures/mairie_tree.jpg") 30%;
  background-size: cover;
}

main {
  padding: 3rem;
  background: #EEEEEE;
}

.indexPresentationVE {
  width: 60%;
  padding: 5rem;
  margin: -20rem auto $margin-btw-block auto;
  background: $main-color-white;

  h1 {
    @include disable-margin-property;
    margin-bottom: 4rem;
  }
}

.indexLastArticles {
  margin: 0 auto $margin-btw-block auto;
  width: 74%; ///  a modifier


  h3 {
    @include style-link-text(unset);
    font-family: $font-title;
    font-size: 1.2em;
    margin-left: -1rem;
  }

}



.btn {
  display: inline-block;
  padding: 2rem 4rem;
  border-radius: 1.5rem;
  border: unset;
  cursor: pointer;
  transition: all 200ms ease;
  outline: unset;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
}


.bcgGreen {
  background: $main-color-gradient;
  color: $main-color-white;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

footer {

  background: $color-grey;
  display: flex;

  .contentInfoFooter {
    width: 50vw;
    padding: 2vw 0 2vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.9rem;


    .logoFooter {
      margin: 0 2rem;
      display: flex;
      flex-direction: column;

      & img {
        height: 3vw;
      }
    }

    & > img {
      height: 10vw;
    }
  }

  .mapContainer {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .googleMap {
      height: 100%;
      width: 40vw;
    }
  }

  #itineraire {
    position: absolute;
    left: 10vw;
    z-index: 2;
  }

  .separatorFooter {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 10vw;
    background: $main-color;
    // -webkit-clip-path: polygon(50% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(44% 0%, 92% 0%, 44% 100%, 0% 100%)
  }

  #map {
    left: 4.4vw;
  }

}
.sliderImage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.titlePictureCarr , .descriptionPictureCarr{
  background: rgba(0, 0, 0, 0.45);
  text-align: center;
  display: block;
  color: $main-color-white;
  font-size: $font-size-small;
  padding: .5rem 0;
}
#slider {
  height: 35vw;
  position: relative;
  perspective: 100rem;
  transform-style: preserve-3d;
}

#slider .sliderImage {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: .4rem;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}


#slide1 {
  background: url("https://picsum.photos/800") no-repeat;
  background-size: cover;
}

#slide2 {
  background: url("https://picsum.photos/812") no-repeat;
  background-size: cover;
}

#slide3 {
  background: url("https://picsum.photos/803") no-repeat;
  background-size: cover;
}

#slide4 {
  background: url("https://picsum.photos/804") no-repeat;
  background-size: cover;
}

#slide5 {
  background: url("https://picsum.photos/801") no-repeat;
  background-size: cover;
}


.sliderCheckBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}

.checkBox {
  background: url("../pictures/caroussel/check-box.svg");
  height: 3rem;
  width: 3rem;
  margin: 0 1rem;
  cursor: pointer;
}

.sliderImage[data-imagePosition="-2"], .sliderImage[data-imagePosition="2"] {
  box-shadow: 0 .1rem .4rem 0 rgba(0, 0, 0, .37);
}

.sliderImage[data-imagePosition="0"] {
  box-shadow: 0 1.3rem 2.5rem 0 rgba(0, 0, 0, .3), 0 1.1rem .7rem 0 rgba(0, 0, 0, .19);
}

.sliderImage[data-imagePosition="-1"], .sliderImage[data-imagePosition="1"] {
  box-shadow: 0 .6rem 1rem 0 rgba(0, 0, 0, .3), 0 .2rem .2rem 0 rgba(0, 0, 0, .2);
}


@media all and (min-width: 1400px) {

  html{
    font-size: 9px;
  }

}







