
@mixin style-link-text($color) {
  text-decoration: unset;
  color: $color;
  text-transform: uppercase;
}

@mixin disable-margin-property ($margin-vertical, $margin-horizontal){
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: $margin-vertical $margin-horizontal ;
}
